@import "../abstracts/variables";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
  &__section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    &__link {
      display: flex;
      flex-direction: column;
      a {
        padding: 0.4em 0;
        color: white;
        font-weight: bold;
        font-size: 0.9em;
      }
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &__items {
      padding: 0 10px;
      animation: bounce 1s ease infinite alternate;
    }
  }
  &__subtitle {
    font-size: 0.7rem;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    margin: 0 8px 8px 0;
    width: 100%;
    height: 100%;
    color: white;
    word-spacing: 3px;
    &__link {
      margin-left: 4px;
      text-decoration: none;
      color: $light-french;
      word-spacing: 0;
    }
  }
}
