@import "../abstracts/variables";

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets//images/Light-blue.jpg") fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $main-dark-color;
    &--row-reverse {
      flex-direction: row-reverse;
    }
  }

  &__article {
    width: 40%;
    a {
      display: inline-block;
      padding: 0.8em 1.7em;
      background-color: #5099ff;
      font-weight: bold;
      border-radius: 2em;
      text-transform: uppercase;
      color: white;
      margin-top: 1.5em;
      &:hover {
        color: $main-dark-color;
      }
    }
    &--span {
      display: block;
      margin-bottom: 10px;
      width: 116px;
      height: 5px;
      border-top: 2px solid rgba(39, 34, 62, 1);
    }
    &--text {
      line-height: 1.65;
      letter-spacing: 0.1px;
      font-size: 1.1rem;
    }
    &--title {
      margin: 0;
      text-transform: capitalize;
    }
  }
  &__img {
    height: 100%;
    width: 350px;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .section {
    &__content--row,
    &__content--row-reverse {
      flex-direction: column;
    }
    &__article {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }
  }
}
