@import '../abstracts/variables';

.block {
  margin-left: 150px;
  &__title {
    color: purple;
    margin: 0;
  }
  &__content {
    max-height: 350px;
    overflow: scroll;
  }
  &__items {
    width: 250px;
    padding-bottom: 8px;
    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }
  &__time {
    display: block;
    margin-top: 8px;
    color: rgba(255,255,255,.49);
    font-weight: bold;
    font-size: .7rem;
  }
  &__link {
    text-decoration: none;
    color: #fff;
  }
}

@media (max-width: 768px) {
    .block {
        display: none;
    }
}