.RichEditor {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-top: 45px;
  &-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 1.6rem 0;
    padding: 1rem 2rem;
  }
  &-paragraph {
      margin: 1.6rem 0;
  }
  &-strikethrough {
    color: '#444';
    text-decoration: 'line-through',
  }
  &-controls {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 33;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);;
    padding: 12px;
    margin-bottom: 8px;
  }
  &-styleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-right: 2px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
    &-icon {
      width: 13px;
    }
  }
  &-activeButton {
    background-color: #eee;
  }
  &-headers {
      position: relative;
      width: 100px;
      margin-right: 8px;
      &-select {
          -webkit-appearance: none;
          appearance: none;
          border: none;
          width: 100%;
          box-shadow: none;
          outline: none;
          background: #eee;
          padding: 8px;
          
          cursor: pointer;
      }
      &-arrow {
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -3px;
          height: 20px;
          width: 20px;
          z-index: 0;
          background-color: black;
          mask: url('../../assets/icons/arrow.svg') no-repeat center;
          -webkit-mask: url('../../assets/icons/arrow.svg') no-repeat center;
      }
  }
  
  &-editor {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    padding: 18px;
  }
}
.public-DraftEditorPlaceholder-inner {
    color: #aaa;
}