

.RichEditor {
    height: 80%;
    width: 600px;
    padding: 16px 8px;
    box-shadow: #ddd 0px 0px 0px 1px inset;
    border-radius: 5px;
    padding: 8px;
    margin: 16px;
    &-controls {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        box-shadow: #eee 0px 0px 0px 1px;
        padding: 4px;
        margin-bottom: 8px;

    }
    &-styleButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        cursor: pointer;
        &:hover {
          background-color: #eee; 
        }
        &-icon {
            width: 13px;
        } 
        

    }
    &-activeButton {
        background-color: #eee; 
    }
}