.gallery {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 150px 20px;
    &__contents {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
      
    }
}