.latest {
    text-align: center;
    &__text {
        margin-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-transform: capitalize;
    }
    &__line {
        margin: 0 auto 1rem auto;
        display: block;
        width: 350px;
        height: 5px;
        border-top: 2px solid $main-dark-color;
    }
    &__posts {
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 3em 2em;
    }

    &__card {
        position: relative;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25em;
        width: 18em;
        height: 16em;
        margin-right: .8em;
        cursor: pointer;
        &__img {
            height: 180px;
            width: 100%;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25em - 1px);
            display: block;
        }
        &__body {
            padding: 0em .9em;
        }
        &__text {
            font-size: 1em;
            line-height: 1.5em;
        }
    }
    
}

@media (max-width: 768px) {
    .latest {
        &__posts {
            flex-direction: column;
        }
        &__card {
            margin: .5em;
        }
    }
}