.posts {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 150px;
  background-color: #fff;

  table {
    width: 100%;
    color: #333;
  }
  
  th,
  td {
    text-align: center;
    padding: 8px;
    a {
      text-decoration: none;
      color: #000;
      &:visited {
        color: #000;
      }
      &:active, &:hover {
        color: #aaa;
      }
    }
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
}

tr > td:last-child button {
    background: red;
    color: white;
    &:hover {
        background: rgb(212, 32, 32);
    }
}