@import "../abstracts/variables";

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 2em;
  //overflow: hidden;
  color: #333;
  &__content {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 16px;
    background-color: $primary;
    color: white;
    width: 80%;
    padding: 1.5em;
  }
  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    height: 100%;
    position: relative;
    width: 300px;
    &:hover {
      .profile__img {
        opacity: 0.3;
      }
      .profile__photo__overlay {
        opacity: 1;
      }
    }
    &__overlay {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 40%;
      right: 35%;
    }
    &__edit {
      font-size: 0.7rem;
      padding: 8px 4px;
      background: transparent;
      border-radius: 4px;
      border-color: red;
      color: red;
      outline: none;
      cursor: pointer;
    }
  }
  &__img {
    opacity: 1;
    width: 100%;
    height: 100%;
    height: auto;
    transition: 0.5s ease;
    border-radius: 8px;
    backface-visibility: hidden;
  }
  .button {
    color: $black;
    background-color: $white;
    &:hover {
      color: $primary;
      background-color: $light;
    }
  }
}

@media (max-width: 760px) {
  .profile {
    background-color: $primary;
    padding-top: 15em;
    &__content {
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 0;
    }
    &__img {
      width: 10em;
      height: 10em;
      //margin: 20px 0;
      border-radius: 50%;
    }
  }
}
