@import '../abstracts/variables';

.dashboard {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100vh;

    &__aside {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 268px;
        border-right: 1px solid $main-dark-color;
    }
    &__profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__image {
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }
    }
    &__editor {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}