@import "../abstracts/variables";
.nav__wrapper {
  height: 50px;
}
.post {
  background-color: #f9f9f9;
  &__article,
  &__footer,
  &__header {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  &__short {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 200%;
  }
  &__title {
    word-wrap: break-word;
  }

  &__article {
    padding-top: 80px;
    font-family: Merriweather, serif;
    color: #484848;
  }
  &__paragraph {
    &__title {
      margin-bottom: 0;
    }
  }
  &__footer {
    &__content {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding: 0 1rem;
    }
    &__img {
      width: 120px;
      height: 120px;
      margin: 0.25rem auto 1rem;
      border-radius: 50%;
    }
    &__text {
      text-align: left;
      font-size: 1.1rem;
      width: 60%;
      margin: 0 auto;
      &:nth-child(3) {
        margin-bottom: 0.6rem;
        text-align: center;
      }
    }
  }
  &__time {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: $main-bg-color;
  }
  &__author {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: auto;
    width: 100%;
    &__img {
      width: 70px;
      height: 70px;
      margin: 0.25rem;
      border-radius: 50%;
    }
    &--name {
      text-transform: capitalize;
    }
  }
  &__img {
    width: 100%;
  }
  &__social {
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
    font-family: "Lato", sans-serif;
    &__title {
      color: #484848;
      font-size: 1.25rem;
      font-weight: 600;
      vertical-align: middle;
    }
    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0.25rem;
    }
    &__facebook {
      mask: url("../../assets/icons/facebook-2.svg");
    }
    &__linkedin {
      mask: url("../../assets/icons/linkedin-2.svg");
    }
    &__twitter {
      mask: url("../../assets/icons/twitter-2.svg");
    }
    &__facebook,
    &__linkedin,
    &__twitter {
      width: 50px;
      height: 50px;
      background-color: $main-bg-color;
      cursor: pointer;
      margin: 0 0.25rem;
      &:hover {
        background-color: $main-dark-color;
      }
    }
  }
}

.blog__spc {
  width: 100%;
  padding: 0.5rem 0;
}

.related__posts {
  text-align: center;
  &__title {
    margin: 0.25rem;
  }
  &--line {
    margin: 0 auto 1rem auto;
    display: block;
    width: 350px;
    height: 5px;
    border-top: 2px solid $main-dark-color;
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    list-style: none;
    overflow-x: scroll;
  }
  &__items {
    position: relative;
    margin: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    height: 200px;
    cursor: pointer;
    color: $light-french;
    &:hover {
      border: 5px solid $light-french;
    }
  }
  &--img {
    height: 100%;
  }
  &--text {
    position: absolute;
    color: wheat;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .nav__wrapper {
    height: 0;
  }
  .post {
    &__short {
      width: 100%;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.5;
    }
    &__footer {
      &__content,
      &__text {
        width: 100%;
      }
    }
  }
}
