@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding: $spacing-02 0 $spacing-06 0;

  &__article {
    width: 50%;
    &__title {
      @include font-size-l-xx;
      span {
        display: block;
        padding-top: $spacing-00-25;
        font-weight: 400;
        @include font-size-l-x;
      }
    }
    &__text {
      line-height: 1.65;
      letter-spacing: 0.1px;
      font-size: 1.2rem;
      color: $dark;
    }
  }
  &__img {
    height: $spacing-20;
    width: $spacing-20;
    padding: 40px;
    border-radius: 50%;
  }
  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1px 0 0 0;
    margin: -1px auto 0 auto;
    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $spacing-08;
      width: $spacing-08;
      background-color: $primary;
      color: $white;
      border-radius: 50%;
      padding: 0.5em;
      margin-right: 0.8em;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: $dark;
        opacity: 0.9;
      }
    }
  }
  /*   &__social {
    padding: 0;
    align-self: center;
    list-style-type: none;
    margin-left: 10em;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
    &__list {
      display: flex;
      list-style-type: none;
      padding-left: 0;
    }     
    &__link {
      margin: 0 0.5em;
      padding: 0.5em 1em;
      font-size: 0.9em;
      font-weight: bold;
      a:hover {
        color: $black;
      }
    }
  } */
}

/* @media (max-width: 768px) {
  .section{
    height: auto;
    &__content {
      flex-direction: column;
      width: 100%;
    }
    &__article {
      width: 90%;
    }
    &__img {
      height: 200px;
      width: 200px;
      padding: 0;
    }
  }
  .section {
    display: block;
    &__content--row,
    &__content--row-reverse {
      flex-direction: column;
    }
    &__img {
    
    }
    &__article {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }
    &__social {
      display: flex;
      margin: 0;
      align-self: center;
    }
    &__footer {
      &__link {
        margin: 0;
        padding-right: 0.2em;
        font-size: 0.7em;
        font-weight: bold;
      }
    }
  } 
}*/

@include for-phone {
  .about {
    flex-direction: column;
    @include font-size-s;
    &__article {
      width: 90%;
      &__title {
        @include font-size-l-xxx;
      }
    }
    &__links {
      & > a {
        height: $spacing-06;
        width: $spacing-06;
      }
    }
    &__img {
      height: $spacing-12;
      width: $spacing-12;
    }
  }
}

@include for-big-desktop-up {
  .about {
    @include font-size-l-x;
    &__article {
      &__title {
        @include font-size-l-xxxx;
        span {
          @include font-size-l-xx;
        }
      }
      &__text {
        @include font-size-l-x;
      }
    }
    &__links {
      & > a {
        height: $spacing-12;
        width: $spacing-12;
      }
    }
    &__img {
      height: $spacing-32;
      width: $spacing-32;
    }
  }
}
