@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s;
  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  &__body {
    background-color: #ffffff;
    border-radius: 7px;
    max-height: calc(100% - 60px);
    max-width: 768px;
    position: relative;
    z-index: 22;
    padding: 1em;
  }
}
