@import '../../../styles/abstracts/variables';
.nav {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em 0;
  background-color: $black;
  z-index: 44;
  &__icon {
    position: relative;
    margin-right: 0.5em;
    margin-left: auto;
    margin-top: 0.5em;
    display: inline-block;
    cursor: pointer;

    &__image {
      height: 45px;
      width: 45px;
      border-radius: 50%;
    }
  }
  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    color: white;
    &__group {
      position: relative;
      display: flex;
      padding: 0 1rem;
      z-index: 0;
      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        background-color: #cdcfd2;
        width: 1px;
        height: 35px;
        transform: translateY(-50%);
        content: '';
      }
    }
    &__logout {
      display: none;
    }
    a {
      padding: 4px 16px;
      text-decoration: none;
      color: white;
      cursor: pointer;
      &:hover {
        color: #ddd;
      }
    }
  }
  &__logout {
    position: absolute;
    right: 20px;
    top: 40px;
    list-style: none;
    padding: 0 0 10px 0;
    border-radius: 5px;
    height: max-content;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 0, 0, 0.6);
    &-hide {
      display: none;
    }
  }
  &__menu {
    position: absolute;
    right: 20px;
    top: 30px;
    list-style: none;
    padding: 0;
    border-radius: 5px;
    height: max-content;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__item {
      text-align: center;
      cursor: pointer;

      &:hover {
        color: #ccc;
      }
    }
  }
}

@media (max-width: 560px) {
  .nav {
    background-color: transparent;
    &__list {
      display: none;
      &__group {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
        &:not(:first-child) {
          border-top: 1px solid white;
        }
        &::after {
          display: none;
        }
      }
      &__logout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        padding: 5px;
        width: 100%;
        border-top: 1px solid red;
        border-radius: 4px;
        color: rgba(255, 0, 0, 0.6);
      }
    }
    &__menu {
      display: flex;
      &-hide {
        display: none;
      }
    }
    &__logout {
      display: none;
    }
  }
}
