@import '../../styles/abstracts/variables';
@import './RichEditor/style';
@import './Gallery/style';
@import './Nav/style';
@import './Profile/style';
@import './PostTable/style';
@import './Toolbar/style';
@import './PctureChoice/style';
@import './CommentList/style';

.dashboard {
  display: flex;
  flex-direction: column;
  background-color: $lighter;
  width: 100%;
  height: 100vh;
  &__content {
    height: 100%;
  }
}
