@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';
.post {
  background-color: $white;
  line-height: 1.8;
  &__article,
  &__footer,
  &__header {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  &__header {
    color: $black;
    font-weight: 500;
    @include font-size-l;
  }

  &__article {
    padding-top: 80px;
    color: $dark;
    @include font-size-l;
    figure {
      img {
        width: 100%;
      }
    }
  }

  &__footer {
    &__content {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding: 0 $spacing-01;
    }
  }
  &__time {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: $primary;
    @include font-size-m;
  }
  &__img {
    width: 100%;
  }
  &__social {
    text-align: center;
    width: 100%;
    padding: $spacing-01 0;
    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0.25rem;
    }

    &__facebook,
    &__linkedin,
    &__twitter {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:hover {
          background-color: $primary;
        }
      }
      cursor: pointer;
      margin: 0 0.25rem;
    }
  }
}

@include for-phone {
  .post {
    &__header {
      padding: 0;
    }
    &__article {
      padding: $spacing-04;
      @include font-size-m;
    }
    &__short {
      width: 100%;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.5;
    }
    &__footer {
      &__content,
      &__text {
        width: 100%;
      }
    }
  }
}
