.login {
    background: $primary;
    height: 100vh;
    color: white;

    h1 {
        margin: 0;
        padding: 2em;
        text-align: center;
    }

    form {
        margin: 0 auto;
        width: 45%;

        button {
            text-transform: uppercase;
            color: $white;
            font-size: .9em;
            font-weight: bold;
            &:hover {
                color: $primary;
            }
        }
    }
}

@media (max-width: 768px) {
    .login {
        flex-direction: column;
        form {
            width: 80%;
        }
    }
}